html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.v-application {
  font-family: sans-serif;
  background: linear-gradient(180deg, #3b068a, #2a2a2b 25%) !important;
  height: 100%;
}
.menu {
  height: 100%;
  width: 18%;
  color: white;
}
